@model Micro_Social_Platform.Models.Group

<h2 class="text-center mt-5">Editare detalii grup</h2>
<br />
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-3">
            @using (Html.BeginForm(actionName: "Edit", controllerName: "Groups",
            method: FormMethod.Post,
            routeValues: new { id = Model.Id }))
            {
                @Html.Label("GroupName", "Group Name")
                <br />
                @Html.EditorFor(m => m.GroupName, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(m => m.GroupName, null, new { @class = "text-danger" })
                <br />

                <br />

                @Html.Label("Description", "Group Description")
                <br />
                @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
                <br />

                <br />

                <button class="btn btn-sm btn-success" type="submit">Edit Group</button>
            }
        </div>
    </div>
</div>